<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-image: url(/img/logo-background.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 500px;">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("CoinTrust", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" navbar-collapse collapse col" id="navbarSupportedContent">
                <ul class="nav navbar-nav nav-item "></ul>

                <ul class="nav navbar-nav nav-item">
                    @if (Request.Cookies.AllKeys.Contains(FormsAuthentication.FormsCookieName))
                    {
                        <li>@Html.ActionLink("目前市場訂單", "Market", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("帳號資訊", "Info", "AccountInfo", null, new { @class = "nav-link" })</li>
                        <li class="dropdown">

                            <a class="btn dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                訂單管理
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="btn dropdown-item" href="/Orders/CreateOrder">建立訂單</a>
                                <a class="btn dropdown-item" href="/Orders/List">我的訂單</a>
                                <a class="btn dropdown-item" href="/Trades/ListTrade">待交易<span class="badge badge-danger">1</span></a>
                            </div>

                        </li>
                    }


                </ul>
                <div class="mr-auto"></div>

                <ul class="nav navbar-nav nav-item">
                    @if (Request.Cookies.AllKeys.Contains(FormsAuthentication.FormsCookieName))
                    {

                        <li class="right">@Html.ActionLink("登出", "SignOut", "Account", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("登入", "SignIn", "Account", null, new { @class = "nav-link" })</li>
                        <li> @Html.ActionLink("註冊", "SignUp", "Account", null, new { @class = "nav-link" }) </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                @Html.ActionLink("關於我們", "About", "Home", null, new { @class = "nav-link" })
                @Html.ActionLink("聯絡我們", "Contact", "Home", null, new { @class = "nav-link" })
            </div>
            <p>&copy; @DateTime.Now.Year - CoinTrust 數位貨幣交易媒合平台</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>