@model CoinTrust.Models.Order

@{
    ViewBag.Title = "訂單詳細資料";
}

<h2>訂單詳細資料</h2>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4 col">
            <div class="row-md-4">
                <img src="~/img/空白頭像.jpg" />
                <hr />
            </div>
            <div class="row-md-6">
                <dl class="dl-horizontal">
                    <dt>賣家ID</dt>
                    <dd>@Html.DisplayFor(model => model.Seller.AccountId)</dd>
                    <dt>上次登入時間</dt>
                    <dd>@Html.DisplayFor(model => model.Seller.UpdateAt)</dd>
                </dl>
            </div>
            <div class="row-md-2">
                @Html.ActionLink("點選下單", "Buy", "Trades", new { id = Model.OrderId }, new { @class = "btn btn-success" })
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-bordered table-light">
                <tr>
                    <td colspan="2">@Html.DisplayNameFor(model => model.Price)</td>
                    <td colspan="2">@Html.DisplayFor(model => model.Price) NTD</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Quantity)</td>
                    <td>@Html.DisplayFor(model => model.Quantity)</td>
                    <td>@Html.DisplayNameFor(model => model.RemainQuantity)</td>
                    <td>@Html.DisplayFor(model => model.RemainQuantity)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Address)</td>
                    <td colspan="3">@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CreateAt)</td>
                    <td colspan="3">@Html.DisplayFor(model => model.CreateAt)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UpdateAt)</td>
                    <td colspan="3">@Html.DisplayFor(model => model.UpdateAt)</td>
                </tr>
            </table>
            <br />
            <div class="row">
                <div class="col-md-auto">購買數量：</div>
                <div class="col-md-auto row">
                    @using (Html.BeginForm("Buy", "Trades", FormMethod.Post, new { @class = "from-contorl row" }))
                    {
                        @Html.TextBox("Quantity");
                        @Html.Hidden("OrderId", Model.OrderId);
                        <input class="btn btn-success" type="submit" value="購買" />
                    }
                </div>
                <div class="col-md-4">總金額：1500 NTD</div>
            </div>
        </div>
    </div>
</div>


@*
    <div class="col-md-8">
        <dl class="dl-horizontal ">
            <dt>@Html.DisplayNameFor(model => model.Price)</dt>

            <dd>@Html.DisplayFor(model => model.Price)</dd>

            <dt>@Html.DisplayNameFor(model => model.Quantity)</dt>

            <dd>@Html.DisplayFor(model => model.Quantity)</dd>

            <dt>@Html.DisplayNameFor(model => model.RemainQuantity)</dt>

            <dd>@Html.DisplayFor(model => model.RemainQuantity)</dd>

            <dt>@Html.DisplayNameFor(model => model.MinQuantity)</dt>

            <dd>@Html.DisplayFor(model => model.MinQuantity)</dd>

            <dt>@Html.DisplayNameFor(model => model.Address)</dt>

            <dd>@Html.DisplayFor(model => model.Address)</dd>

            <dt>@Html.DisplayNameFor(model => model.OrderStatus)</dt>

            <dd>@Html.DisplayFor(model => model.OrderStatus)</dd>

            <dt>@Html.DisplayNameFor(model => model.CreateAt)</dt>

            <dd>@Html.DisplayFor(model => model.CreateAt)</dd>

            <dt>@Html.DisplayNameFor(model => model.UpdateAt)</dt>

            <dd>@Html.DisplayFor(model => model.UpdateAt)</dd>

        </dl>
    </div>
*@