@model CoinTrust.Models.Trade

@{
    ViewBag.Title = "Trading";
    string Accid = FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).UserData;
}
<a>@Accid</a>
<h2>訂單詳細資料 @FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).UserData</h2>
@if (Accid == Model.Order.Seller.AccountId)
{
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-2 col">
                <div class="row-md-4">
                    <img src="~/img/空白頭像.jpg" />
                    <hr />
                </div>
                <div class="row-md-6">
                    <dl class="dl-horizontal">
                        <dt>買家ID</dt>
                        <dd>@Html.DisplayFor(model => model.Buyer.AccountId)</dd>
                        <dt>上次登入時間</dt>
                        <dd>@Html.DisplayFor(model => model.Buyer.UpdateAt)</dd>
                    </dl>
                </div>
                <div class="row-md-2">
                    @*@Html.ActionLink("點選下單", "Buy", "Trades", new { id = Model.Order.OrderId }, new { @class = "btn btn-success" })*@
                    <a class="btn btn-danger text-light">聯絡買家</a>
                </div>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-light">
                    <tr>
                        <td colspan="2">@Html.DisplayNameFor(model => model.Order.Price)</td>
                        <td colspan="2">@Html.DisplayFor(model => model.Order.Price) NTD</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Quantity)</td>
                        <td>@Html.DisplayFor(model => model.Quantity)</td>
                        <td>總金額</td>
                        <td>@(Convert.ToInt32(Model.Order.Price) * Convert.ToDouble(Model.Quantity)) NTD</td>
                    </tr>
                    <tr>
                        <td>買家錢包地址</td>
                        <td colspan="3">@Html.DisplayFor(model => model.BuyerAddress)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CreateAt)</td>
                        <td colspan="3">@Html.DisplayFor(model => model.CreateAt)</td>
                    </tr>
                </table>
                <br />
                <div class="bg-light">
                    <div class="row">
                        <div class="col h4">購買數量：@Model.Quantity ETH</div>

                        <div class="col-md-4 h4">總金額：@(Convert.ToInt32(Model.Order.Price) * Convert.ToDouble(Model.Quantity)) NTD</div>
                    </div>
                    <span class="border border-primary h4">@Model.BuyerAddress</span> <span><button class="btn btn-info">點選複製</button></span>
                    @using (Html.BeginForm("UpdateTxhash", "Trades", new { }, FormMethod.Post))
                    {
                        <input type="hidden" name="TradeId" value="@Model.TradeId" id="TradeId" />
                        <p class="text-danger h4 "><strong>請在24小時內將貨幣轉至錢包後並輸入交易代碼後點選</strong><input type="submit" class="btn btn-success" value="已發送"></p>

                        <div class="row"><a class="col-md-auto">交易代碼(txHash)：</a><input type="text" name="TxHash" class="form-control col-md-9" /></div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else if (Accid == Model.Buyer.AccountId)
{
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-2 col">
                <div class="row-md-4">
                    <img src="~/img/空白頭像.jpg" />
                    <hr />
                </div>
                <div class="row-md-6">
                    <dl class="dl-horizontal">
                        <dt>賣家ID</dt>
                        <dd>@Html.DisplayFor(model => model.Order.Seller.AccountId)</dd>
                        <dt>上次登入時間</dt>
                        <dd>@Html.DisplayFor(model => model.Order.Seller.UpdateAt)</dd>
                    </dl>
                </div>
                <div class="row-md-2">
                    @*@Html.ActionLink("點選下單", "Buy", "Trades", new { id = Model.Order.OrderId }, new { @class = "btn btn-success" })*@
                    <a class="btn btn-danger text-light">聯絡賣家</a>
                </div>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-light">
                    <tr>
                        <td colspan="2">@Html.DisplayNameFor(model => model.Order.Price)</td>
                        <td colspan="2">@Html.DisplayFor(model => model.Order.Price) NTD</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Quantity)</td>
                        <td>@Html.DisplayFor(model => model.Quantity)</td>
                        <td>總金額</td>
                        <td>@(Convert.ToInt32(Model.Order.Price) * Convert.ToDouble(Model.Quantity)) NTD</td>
                    </tr>
                    <tr>
                        <td>賣家錢包地址</td>
                        <td colspan="3">@Model.Order.Address <a href="https://etherscan.io/address/@Model.Order.Address">查詢</a></td>
                    </tr>
                    <tr>
                        <td>訂單狀態</td>
                        <td colspan="3">@Model.TradeStatus</td>
                    </tr>
                    @if (Model.TradeStatus == CoinTrust.Models.TradeStatus.Sended)
                    {
                        <tr>
                            <td>區塊鏈交易代碼(TxHash)</td>
                            <td colspan="3">@Html.DisplayFor(model => model.TxHash)<a href="https://etherscan.io/tx/@Model.TxHash">交易查詢</a></td>
                        </tr>
                        <tr>
                            <td>@ViewBag.value</td>

                        </tr>
                    }
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CreateAt)</td>
                        <td colspan="3">@Html.DisplayFor(model => model.CreateAt)</td>
                    </tr>
                </table>
                <br />
                <div class="bg-light">
                    <div class="row">
                        <div class="col h4">購買數量：@Model.Quantity ETH</div>

                        <div class="col-md-4 h4">總金額：@(Convert.ToInt32(Model.Order.Price) * Convert.ToDouble(Model.Quantity)) NTD</div>
                    </div>
                    <span class="border border-primary h4">@Model.BuyerAddress</span> <span><a href="https://etherscan.io/address/@Model.BuyerAddress" class="btn btn-info">查詢錢包</a></span>
                    @if (Model.TradeStatus == CoinTrust.Models.TradeStatus.Sended)
                    {
                        using (Html.BeginForm("TradeFinish", "Trades", new { }, FormMethod.Post))
                        {
                            <input type="hidden" name="TradeId" value="@Model.TradeId" id="TradeId" />

                            <p class="text-danger h4 "><strong>賣家已發送ETH到錢包 請在24小時內點選確認  </strong><input type="submit" class="btn btn-warning rounded" value="已確認收到"></p>
                        }
                            <p>賣家已發送ETH，還沒收到幣嗎? <a href="#">點這裡申訴/鎖定</a></p>
                    }
                </div>
            </div>
        </div>
    </div>
}