@model CoinTrust.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.certification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.use_phone_authenticator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.use_phone_authenticator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.use_google_authenticator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.use_google_authenticator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.email }) |
    @Html.ActionLink("Back to List", "Index")
</p>
