@model IEnumerable<CoinTrust.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.certification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.use_phone_authenticator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.use_google_authenticator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.update_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.certification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.use_phone_authenticator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.use_google_authenticator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.update_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.email }) |
            @Html.ActionLink("Details", "Details", new { id=item.email }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.email })
        </td>
    </tr>
}

</table>
