
@{
    var accountId = "";
    double Amount = 0.0;
    try
    {
        accountId = FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).UserData;
        CoinTrust.DataAccessLayer.DatabaseContext db = new CoinTrust.DataAccessLayer.DatabaseContext();
        var Fund = db.RealCoinFund.Find(accountId);
        Amount = Fund.Amount;
    }



    catch
    {
    }

    var Low_Price = 999999.0;
    foreach (var item in Model)
    {
        if (item.OrderStatus == CoinTrust.Models.OrderStatus.New)
        {
            if (item.Price < Low_Price)
            {
                Low_Price = item.Price;
            }
        }

    }
}


<div class="row">
    <div class="col-md-auto">
        <a>排序:</a>
        <a href="#">依訂單編號</a>
        <a href="#">依價格排序</a>
        <a href="#">依剩餘數量</a>
    </div>
    @if (Low_Price < 999999)
    {
        <div class="col-md-auto mr-md-auto">目前最便宜價格 <a class="text-success h4 "><u><strong>@Low_Price</strong></u></a> NTD</div>
    }
    <div class="col-md-auto">
        目前的餘額： <strong class="text-success">@Amount NTD</strong>
        <a href="/Accountinfo/Deposit">儲值</a> /
        <a href="#">提款</a>

    </div>
</div>
<table class="table table-striped table-light">
    <tr>
        <th>訂單編號</th>
        <th>單價</th>
        <th>剩餘數量</th>
        <th>最低購買數量</th>
        <th>訂單狀態</th>
        <th class="col-sm-auto">操作</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Price > Low_Price)
        {
            Low_Price = item.Price;
        }
        <tr>

            <td>
                @item.OrderId
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.RemainQuantity
            </td>

            <td>
                @item.MinQuantity
            </td>

            @if (item.OrderStatus == CoinTrust.Models.OrderStatus.New)
            {
                <td>存在</td>
            }
            else if (item.OrderStatus == CoinTrust.Models.OrderStatus.Canceled)
            {
                <td>已取消</td>
            }
            else if (item.OrderStatus == CoinTrust.Models.OrderStatus.PartialFilled)
            {
                <td>剩餘部分</td>
            }
            <td>

                @Html.ActionLink("查看訂單", "Details", "Orders", new { id = item.OrderId }, new { @class = "btn btn-success" })
                @Html.TextBox("BuyQuantity", null, new { @class = "col-md-auto" })
                @Html.ActionLink("購買", "Buy", "Trades", new { id = item.OrderId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
